{% extends 'base.html' %}
{% load cache %}

{% block title %}
  Последние обновления на сайте
{% endblock %}

{% block content %}
  {% include 'events/includes/switcher.html' with index=True %}
  <div class="container py-5">
    <h4>Последние обновления на сайте</h4>
    {% cache 20 'index_page' page_obj.number %}
    {% for post in page_obj %}
      {% include 'events/includes/event_card.html' %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% endcache %}
  </div>
{% endblock %}
{% include 'events/includes/paginator.html' %}